.main-nav {
    padding: 32px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $secondary-background;

    &__logo {
        align-self: center;
        color: $text-color;
        margin-bottom: 30px;
    }

   &__avatar {
       margin-left: 20px;
       margin-bottom: 20px;
   } 
   
   &__name {
       font-weight: 500;
       text-transform: capitalize;
       font-size: 24 / 16 * 1rem;
       margin: 0 auto 8px;
   }

   &__email {
       color: $menu-color;
       font-size: 16 / 16 * 1rem;
       font-weight: 400;
       margin: 0 auto 8px;
       text-decoration: none;
   }

    &__dashboard-name {
        font-size: 1rem;
    }

    &__copy {
        font-size: 1rem;
    }

    &__authors-salute {
        font-size: 1rem;
    }
    
}


.logo {
    display: flex;
    align-items: center;

    &__text {
        margin-left: 15px;

        @media screen and (max-width: 720px) {
            display: none;
        }
    }
}



.nav-list {
    width: 100%;
    position: relative;

    &__header {
        font-size: 16 / 16 * 1rem;
        font-weight: 400;
        color: $menu-color;
        text-transform: capitalize;
        margin-bottom: 30px;
    }

    &__pointer,
    &__item {
        width: 100%;
        font-size: 18 / 16 * 1rem;
    }

    &__pointer {
        position: absolute;
        height: 3em;
        background-color: $local-orange;
        opacity: 0.5;
        border-radius: 15px;
    }

    &__icon {
        display: inline;
        height: 1.5em;
    }

    &__text-title {
        margin-left: 10px;
    }

    &__anchor {
        text-transform: capitalize;
        text-decoration: none;
        color: $menu-color;
        display: flex;
        width: 100%;
        align-items: center;
        height: 3em;
        line-height: 3em;
        padding: 0 1em;
        transition: color 0.25s;
    }

    &__item {
        position: relative;
    }

    &__item:hover &__anchor, 
    &__item--active &__anchor{
        color: $local-orange;
    }
}
