body{
    --text-color: #{$light-text-color};
    --base-background: #{$light-base-background};
    --secondary-background: #{$light-secondary-background};
    --border-color: #{$light-border-color};
    --local-grey: #{$local-grey-light};
}

.scrolable {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: $base-background $text-color;

    &::-webkit-scrollbar{
        width: 5px;
        border-radius: 3px;
        background-color: $text-color;
    }
    &::-webkit-scrollbar-button{
        width: 100%;
        height: 0;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $base-background;
        opacity: 0.5;
    }
    &::-webkit-scrollbar-coner{
        height: 0;
        background: transparent;
    }
    &::-webkit-scrollbar-resizer{
        height: 0;
    }
}

.dark {
    --text-color: #{$dark-text-color};
    --base-background: #{$dark-base-background};
    --secondary-background: #{$dark-secondary-background};
    --border-color: #{$dark-border-color};
    --local-grey: #{$local-grey-dark};
}

.container {
    width: 95%;
    margin: auto;
}
