body{
    --text-color: #{$light-text-color};
    --base-background: #{$light-base-background};
    --secondary-background: #{$light-secondary-background};
    --border-color: #{$light-border-color};
    --local-grey: #{$local-grey-light};
}

.scrolable {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: $base-background $text-color;

    &::-webkit-scrollbar{
        width: 5px;
        border-radius: 3px;
        background-color: $text-color;
    }
    &::-webkit-scrollbar-button{
        width: 100%;
        height: 0;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $base-background;
        opacity: 0.5;
    }
    &::-webkit-scrollbar-coner{
        height: 0;
        background: transparent;
    }
    &::-webkit-scrollbar-resizer{
        height: 0;
    }
}

.dark {
    --text-color: #{$dark-text-color};
    --base-background: #{$dark-base-background};
    --secondary-background: #{$dark-secondary-background};
    --border-color: #{$dark-border-color};
    --local-grey: #{$local-grey-dark};
}

.container {
    width: 95%;
    margin: auto;
}

.filters-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 339px;


    &__item {
        flex: 0 1 auto;
        width: 100%;
        font-size: 14 / 16 * 1rem;
        font-weight: 500;
        text-transform: capitalize;
        color: $menu-color;
        height: 53px;
        border-radius: 14px;
        transition: color 0.25s;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            color: $text-color;
        }

        &--active {
            color: $text-color;
            border: 1px solid $border-color;
        }
    } 
}