$local-orange: #F66F4D;
$local-green: #16B455;
$local-yelow: #FFD482;
$hight-light-orange: #FFD482;
$menu-color: #717579;
$text-color: var(--text-color);
$base-background: var(--base-background);
$secondary-background: var(--secondary-background);
$light-secondary-background: #fff;
$light-base-background: #FDFDFD;
$light-text-color: #2D3134;
$dark-base-background: #17161E;
$dark-secondary-background: #1F1E26;
$dark-text-color: #fff;
