$local-orange: #F66F4D;
$local-orange-hover: #c4492a;
$local-green: #16B455;
$local-yelow: #FFD482;
$hight-light-orange: #FFD482;
$menu-color: #717579;
$grey-playceholder: #C4C4C4;
$text-color: var(--text-color);
$base-background: var(--base-background);
$secondary-background: var(--secondary-background);
$border-color: var(--border-color);
$input-background: var(--input-background);
$local-grey: var(--local-grey);
$light-secondary-background: #fff;
$light-base-background: #FDFDFD;
$light-text-color: #2D3134;
$light-border-color: #F4F4F4;
$local-grey-light: #3B3741;
$dark-base-background: #17161E;
$dark-secondary-background: #1F1E26;
$dark-text-color: #fff;
$dark-border-color: #2F2A36;
$local-grey-dark: #F4F4F4;
